* {
    padding: 0;
    margin: 0;
}

.containet__left {
    width: 950px;
    height: 900px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* background-color: rgb(253, 176, 62); */
}

.containet__left-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 100%;
    /* border: 1px solid rgb(104, 100, 100); */
    border-right: 1px solid #cdc5c5;
}

.containet__left-menu-top>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 500px;
}

.containet__left-menu-top__logo {
    width: 78;
    height: 58;
}

.containet__left-menu-top__home {
    width: 78;
    height: 58;
}

.containet__left-menu-top__message {
    width: 78;
    height: 58;
}

.containet__left-menu-top__calendar {
    width: 78;
    height: 58;
}

.containet__left-menu-top__video {
    width: 78;
    height: 58;
}

.containet__left-menu-top__user {
    width: 78;
    height: 58;
}

.containet__left-menu-bottom>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.containet__left-menu-bottom__avatar {
    width: 78;
    height: 58;
}

.containet__left-menu-bottom__setting {
    width: 78;
    height: 58;
}

.containet__left-content {
    margin-top: 55px;
    margin-left: 20px;
    width: 830px;
}

.containet__left-content__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
}

.containet__left-content__title-meet {
    display: flex;
}


/* .containet__left-content__title-clock {
    display: flex;
    justify-content: center;
} */

.containet__left-content__title__clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.containet__left-content__title__clock>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 15px; */
    color: red;
    border: 1px solid red;
    border-radius: 15px;
    width: 80px;
    height: 35px;
}

.containet__left-content__toolbar {
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.containet__left-content__toolbar-internal {
    background-color: rgb(230, 98, 132);
    border-radius: 20px;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
}

.containet__left-content__toolbar-internal__user {
    /* border: ; */
    background-color: azure;
    border-radius: 13px;
    margin-left: 12px;
    display: flex;
}

.containet__left-content__toolbar-internal__internal {
    display: flex;
    margin-left: 6px;
    color: white;
}

.containet__left-content__toolbar-calendar {
    display: flex;
    margin-left: 5px;
}

.containet__left-content__toolbar-calendar__calendar {
    margin-right: 5px;
}

.containet__left-content__toolbar-calendar__monthdayyear {
    margin-right: 8px;
    padding-right: 12px;
    box-shadow: 1px 0px 0px 0px red;
}

.containet__left-content__toolbar-time {
    margin-left: 8px;
}

.containet__left-content__toolbar-time_time {}

.containet__left-content__meettings {
    display: grid;
    margin-top: 24px;
    grid-template-areas: 'containet__left-content__meettings-img1 containet__left-content__meettings-img1 containet__left-content__meettings-img1 containet__left-content__meettings-img1 containet__left-content__meettings-img1 containet__left-content__meettings-img1' 'containet__left-content__meettings-img2 containet__left-content__meettings-img2 containet__left-content__meettings-img3 containet__left-content__meettings-img3 containet__left-content__meettings-img4 containet__left-content__meettings-img4';
}

.containet__left-content__meettings-img1 {
    width: 820px;
    grid-area: containet__left-content__meettings-img1;
    /* border-radius: 10px; */
}

.containet__left-content__meettings-img2 {
    grid-area: containet__left-content__meettings-img2;
}

.containet__left-content__meettings-img3 {
    grid-area: containet__left-content__meettings-img3;
    margin-left: 25px;
}

.containet__left-content__meettings-img4 {
    grid-area: containet__left-content__meettings-img4;
    margin-left: 25px;
}

.containet__left-content__meettings-img1>img {
    border-radius: 8px;
}

.containet__left-content__meettings-img2>img {
    grid-area: containet__left-content__meettings-img2;
    border-radius: 7px;
}

.containet__left-content__meettings-img3>img {
    grid-area: containet__left-content__meettings-img3;
    /* margin-left: 25px; */
    border-radius: 7px;
}

.containet__left-content__meettings-img4>img {
    grid-area: containet__left-content__meettings-img4;
    /* margin-left: 25px; */
    border-radius: 7px;
}

.containet__left-content__button-meettings {
    text-align: center;
    width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}

.containet__left-content__button-meettings__button1 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button2 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button3 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button4 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button4-endmeeting {
    width: 100px;
    height: 43.99px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border-radius: 5px;
}

.containet__left-content__button-meettings__button5 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button6 {
    margin-right: 8px;
    border: none;
}

.containet__left-content__button-meettings__button7 {
    margin-right: 8px;
    border: none;
}