P {
    color: rgb(68, 66, 66);
}

.ct {
    width: 1348px;
}

div {
    color: rgb(68, 66, 66);
}

.head {
    display: flex;
    width: 1348px;
    justify-content: space-around;
}

.head_left {
    display: flex;
    justify-content: space-evenly;
    width: 475px;
    height: 68px;
    justify-items: ;
    align-items: center;
}

.head_center {
    display: flex;
    justify-content: center;
    width: 489px;
    height: 68px;
    align-items: center;
}

.head_right {
    display: flex;
    justify-content: center;
    width: 347px;
    height: 68px;
    align-items: center;
}

#tiemkiem_pro {
    height: 37px;
    width: 198px;
}

.icon-search {
    height: 37px;
    width: 20px;
}

.Noidung {
    font-size: 53px;
}

.head_center {}

.noidunghinh {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Noidungtheconp {
    margin-top: -50px;
}

.noidungcon {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 90px;
}

.Noidungtheconp {
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: space-between;
}

.center-left {
    display: flex;
    width: 500px;
    height: 68px;
    align-items: center;
    margin-left: 112px;
}

.center-right {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.head_tieude {
    position: relative;
}

#flex_search {
    border: 1px solid rgb(196, 196, 196);
}


/* .header__search-btn-icon {
    border: none;
} */

.head_tieude-pro {
    border: none;
}

#center-left-pro {
    padding: 12px;
    background-color: rgb(69, 157, 122);
    /* border-left: 1px solid rgb(70, 133, 107); */
    color: rgb(255, 255, 255);
    text-align: center;
    width: 150px;
    height: 20px;
}

#center-left-face {
    padding: 12px;
    /* color: rgb(69, 157, 122); */
    text-align: center;
    width: 150px;
    height: 20px;
}

#center-left-body {
    padding: 12px;
    /* border-left: 1px solid rgb(215, 234, 226); */
    /* color: rgb(69, 157, 122); */
    text-align: center;
    width: 150px;
    height: 20px;
}

#tiemkiem_pro_center {
    display: flex;
    padding: 12px;
    border: 0px;
    width: 235px;
    height: 20px;
    margin-left: 350px;
    box-shadow: 0px 1px 0px 0px rgb(191, 163, 168);
}

#id_sortby {
    display: flex;
    padding: 12px;
    margin-left: 12px;
    background-color: rgb(243, 244, 246);
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid rgb(70, 133, 107);
    height: 20px;
    left: 165px;
    /* right: -9px; */
    top: 50%;
    transform: translateY(-50%);
}

.sanpham {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.sanpham1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 42px;
}

.sanpham2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 42px;
}

.sanpham3 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 42px;
}

span {
    display: flex;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.st-icon-apple {
    display: flex;
    align-items: center;
    font-size: 45px;
}

.sp-nd {
    display: flex;
    align-items: center;
    /* position: relative; */
}

.giagoc {
    /* position: absolute; */
    margin-left: 10px;
    margin-top: 10px;
}

.header__search-btn {
    height: 40px;
    width: 40px;
}

.header__search-btn-icon {
    height: 40px;
    width: 40px;
}