.Trangchu {
    width: 1440px;
}

.Trang_top {
    width: 1440px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px;
    height: 60px;
}

.Trang_top_trai {
    width: 100px;
    display: flex;
    align-items: center;
    /* margin-right: 15px; */
}

.Trang_top_giua {
    width: 800px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.Trang_top_giua>ul {
    display: flex;
    align-items: center;
    text-align: center;
}

.Trang_top_giua>ul>li {
    display: flex;
    /* align-items: center; */
    padding: 0 0px;
    justify-content: center;
}

.Trang_top_phai_center_btn>li>a {
    text-decoration: none;
    padding: 20px;
    color: #000;
}

.Trang_top_phai_center_btn>li>a:hover {
    color: rgb(8, 255, 218);
}


/* tao lớp giả */

.Trang_top_phai_center_btn>li:hover {
    color: rgb(8, 255, 218);
    border-bottom: 3px solid rgb(8, 255, 218);
}

.Trang_top_phai {
    display: flex;
    align-items: center;
}

.Trang_top_phai_iconssear_user {
    display: flex;
    align-items: center;
    height: 50px;
}

.Trang_top_phai_iconssear_user_icon {
    display: flex;
    align-items: center;
    background-color: rgba(220, 220, 225, 0.904);
    height: 30px;
}

.Trang_top_phai_iconssear_user_seach {
    display: flex;
    height: 30px;
    background-color: rgba(220, 220, 225, 0.904);
}

.Trang_top_phai_iconssear_user_seach>input {
    background-color: rgba(220, 220, 225, 0.904);
    border: 0px;
    width: 300px;
}

.Trang-top_phai_user {
    height: 30px;
    display: flex;
    align-items: center;
}

.Trang_noidung {
    width: 1256px;
    margin: 0px auto;
}

.Trang_noidung-listdanhsach>ul {
    display: flex;
    justify-content: left;
    padding: 0px;
}

.Trang_noidung-listdanhsach>ul>li>a {
    text-decoration: none;
}

.Trang_noidung-title {
    margin-top: -30px;
}

.Trang_noidung-danhgia_share {
    display: flex;
    justify-content: space-between;
    /* width: 1200px; */
}

.Trang_noidung-danhgia {
    display: flex;
    align-items: center;
}

.Trang_noidung-share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin-right: 68px;
    /* justify-content: center; */
}

.Trang_noidung-share_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Trang_noidung-tym_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Trang_noidung-img {
    display: flex;
    width: 1256px;
}

.Trang_noidung-img_trai {
    margin-right: 20px;
}

.Trang_noidung-img_phai {
    display: flex;
    flex-wrap: wrap;
}

.Trang_noidung_content {
    width: 1186px;
    display: flex;
    justify-content: space-between;
}

.Trang_noidung_content {
    display: flex;
}

.Trang_noidung_content_productdescription {
    width: 780px;
}

.Trang_noidung_content_productdescription>span {
    line-height: 22px;
}

.Trang_noidung_content_productdescription_thongso {}

.Trang_noidung_content_productdescription_thongso>ul {
    padding: 0px;
    display: flex;
}

.Trang_noidung_content_productdescription_thongso>ul>li {
    width: 180px;
    display: flex;
    align-items: center;
}

.Trang_noidung_content_productdescription_gia {
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Trang_noidung_content_productdescription_title {
    /* height: 20px; */
    color: rgb(0, 204, 255);
    display: flex;
    font-size: 30px;
    justify-content: right;
    text-align: right;
    width: 300px;
}

.Trang_noidung_content_productdescription_gia_con {
    width: 300px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Trang_noidung_content_productdescription_total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Trang_noidung_content_productdescription_buynow {
    border: 1px solid rgb(0, 204, 255);
    border-radius: 5px;
    background-color: rgb(0, 204, 255);
    text-align: center;
    margin-bottom: 10px;
}

.Trang_noidung_content_productdescription_addtocart {
    border: 1px solid rgb(0, 204, 255);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 204, 255);
}

.Trang_noidung_content_reviews {
    width: 1183px;
}

.Trang_noidung_content_reviews_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Trang_noidung_content_reviews_title_trai {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Trang_noidung_content_reviews_title_phai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Trang_noidung_content_reviews_user {
    display: flex;
    flex-direction: row;
    width: 1184px;
    flex-wrap: wrap;
}

.Trang_noidung_content_reviews_user1 {
    display: flex;
    flex-direction: column;
    width: 592px;
}

.Trang_noidung_content_reviews_user_vungtren {
    display: flex;
    align-items: center;
}

.Trang_noidung_content_reviews_user1_avatar {
    display: flex;
    margin-right: 10px;
}

.Trang_noidung_content_reviews_user1_thongtin {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.Trang_noidung_content_reviews_user1_comment {
    display: flex;
    width: 540px;
}